<div id="<%= dom_id tutor %>">
  <p>
    <strong>Name:</strong>
    <%= tutor.name %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= tutor.degree %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tutor.description %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tutor.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tutor.location %>
  </p>

  <p>
    <strong>Is remote:</strong>
    <%= tutor.is_remote %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= tutor.phone_number %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tutor.start_date %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= tutor.subject %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tutor.user_id %>
  </p>

</div>
