<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :creation_date, style: "display: block" %>
    <%= form.date_field :creation_date %>
  </div>

  <div>
    <%= form.label :review, style: "display: block" %>
    <%= form.text_field :review %>
  </div>

  <div>
    <%= form.label :tutor_id, style: "display: block" %>
    <%= form.number_field :tutor_id %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.number_field :student_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
