<div id="<%= dom_id review %>">
  <p>
    <strong>Creation date:</strong>
    <%= review.creation_date %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%= review.tutor_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= review.student_id %>
  </p>

</div>
