<div id="<%= dom_id klass %>">
  <p>
    <strong>Klass date:</strong>
    <%= klass.klass_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= klass.status %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= klass.subject %>
  </p>

  <p>
    <strong>Subject level:</strong>
    <%= klass.subject_level %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%= klass.tutor_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= klass.student_id %>
  </p>

</div>
